BPELConversion/bpelContent/ConversionImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ConversionImplService" targetNamespace="http://service.conversion.al23.afcepf.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.conversion.al23.afcepf.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.conversion.al23.afcepf.fr/" version="1.0" xmlns:tns="http://service.conversion.al23.afcepf.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="conversion" type="tns:conversion"/>
<xs:element name="conversionResponse" type="tns:conversionResponse"/>
<xs:complexType name="conversion">
    <xs:sequence>
      <xs:element name="montantHTAvantConversion" type="xs:double"/>
      <xs:element minOccurs="0" name="deviseSource" type="xs:string"/>
      <xs:element minOccurs="0" name="deviseCible" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="conversionResponse">
    <xs:sequence>
      <xs:element name="montantHTApresConversion" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="conversionResponse">
    <wsdl:part element="tns:conversionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="conversion">
    <wsdl:part element="tns:conversion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IConversion">
    <wsdl:operation name="conversion">
      <wsdl:input message="tns:conversion" name="conversion">
    </wsdl:input>
      <wsdl:output message="tns:conversionResponse" name="conversionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConversionImplServiceSoapBinding" type="tns:IConversion">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="conversion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="conversion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="conversionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionImplService">
    <wsdl:port binding="tns:ConversionImplServiceSoapBinding" name="ConversionImplPort">
      <soap:address location="http://localhost:9595/Serviceweb/ConversionImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>