BPELConversion/bpelContent/ServiceTaxes_FraisImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ServiceTaxes_FraisImplService" targetNamespace="http://service.servicetaxes_frais.al23.afcepf.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.servicetaxes_frais.al23.afcepf.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.servicetaxes_frais.al23.afcepf.fr/" version="1.0" xmlns:tns="http://service.servicetaxes_frais.al23.afcepf.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="applyTva" type="tns:applyTva"/>
<xs:element name="applyTvaResponse" type="tns:applyTvaResponse"/>
<xs:element name="findCountry" type="tns:findCountry"/>
<xs:element name="findCountryResponse" type="tns:findCountryResponse"/>
<xs:element name="getAllCountries" type="tns:getAllCountries"/>
<xs:element name="getAllCountriesResponse" type="tns:getAllCountriesResponse"/>
<xs:element name="returnTvaCountry" type="tns:returnTvaCountry"/>
<xs:element name="returnTvaCountryResponse" type="tns:returnTvaCountryResponse"/>
<xs:complexType name="applyTva">
    <xs:sequence>
      <xs:element name="montantHT" type="xs:double"/>
      <xs:element name="tauxTVA" type="xs:double"/>
      <xs:element name="tauxCommission" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="applyTvaResponse">
    <xs:sequence>
      <xs:element name="montantTTC" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findCountry">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findCountryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" type="tns:country"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="country">
    <xs:sequence>
      <xs:element minOccurs="0" name="currency" type="xs:string"/>
      <xs:element name="idCountry" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="tva" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllCountries">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllCountriesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coutryList" type="tns:country"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="returnTvaCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCountry" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="returnTvaCountryResponse">
    <xs:sequence>
      <xs:element name="tauxTva" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllCountriesResponse">
    <wsdl:part element="tns:getAllCountriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnTvaCountry">
    <wsdl:part element="tns:returnTvaCountry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCountries">
    <wsdl:part element="tns:getAllCountries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCountryResponse">
    <wsdl:part element="tns:findCountryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCountry">
    <wsdl:part element="tns:findCountry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="applyTva">
    <wsdl:part element="tns:applyTva" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="applyTvaResponse">
    <wsdl:part element="tns:applyTvaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnTvaCountryResponse">
    <wsdl:part element="tns:returnTvaCountryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IServiceTaxes_Frais">
    <wsdl:operation name="applyTva">
      <wsdl:input message="tns:applyTva" name="applyTva">
    </wsdl:input>
      <wsdl:output message="tns:applyTvaResponse" name="applyTvaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCountry">
      <wsdl:input message="tns:findCountry" name="findCountry">
    </wsdl:input>
      <wsdl:output message="tns:findCountryResponse" name="findCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <wsdl:input message="tns:getAllCountries" name="getAllCountries">
    </wsdl:input>
      <wsdl:output message="tns:getAllCountriesResponse" name="getAllCountriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnTvaCountry">
      <wsdl:input message="tns:returnTvaCountry" name="returnTvaCountry">
    </wsdl:input>
      <wsdl:output message="tns:returnTvaCountryResponse" name="returnTvaCountryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceTaxes_FraisImplServiceSoapBinding" type="tns:IServiceTaxes_Frais">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="applyTva">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="applyTva">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="applyTvaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCountry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findCountry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCountries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCountriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnTvaCountry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="returnTvaCountry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="returnTvaCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTaxes_FraisImplService">
    <wsdl:port binding="tns:ServiceTaxes_FraisImplServiceSoapBinding" name="ServiceTaxes_FraisImplPort">
      <soap:address location="http://localhost:9595/Serviceweb/ServiceTaxes_FraisImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>