BPEL/bpelContent/ServiceTaxesFraisImpl.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.servicetaxes_frais.al23.afcepf.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTaxes_FraisImplService" targetNamespace="http://service.servicetaxes_frais.al23.afcepf.fr/">
<wsdl:types>
<xs:schema xmlns:tns="http://service.servicetaxes_frais.al23.afcepf.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.servicetaxes_frais.al23.afcepf.fr/" version="1.0">
<xs:element name="applyTva" type="tns:applyTva"/>
<xs:element name="applyTvaResponse" type="tns:applyTvaResponse"/>
<xs:element name="returnTvaCountry" type="tns:returnTvaCountry"/>
<xs:element name="returnTvaCountryResponse" type="tns:returnTvaCountryResponse"/>
<xs:complexType name="applyTva">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
<xs:element name="arg1" type="xs:double"/>
<xs:element name="arg2" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="applyTvaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="returnTvaCountry">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="returnTvaCountryResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="returnTvaCountry">
<wsdl:part element="tns:returnTvaCountry" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="applyTva">
<wsdl:part element="tns:applyTva" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="applyTvaResponse">
<wsdl:part element="tns:applyTvaResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="returnTvaCountryResponse">
<wsdl:part element="tns:returnTvaCountryResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="IServiceTaxes_Frais">
<wsdl:operation name="applyTva">
<wsdl:input message="tns:applyTva" name="applyTva"></wsdl:input>
<wsdl:output message="tns:applyTvaResponse" name="applyTvaResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="returnTvaCountry">
<wsdl:input message="tns:returnTvaCountry" name="returnTvaCountry"></wsdl:input>
<wsdl:output message="tns:returnTvaCountryResponse" name="returnTvaCountryResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServiceTaxes_FraisImplServiceSoapBinding" type="tns:IServiceTaxes_Frais">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="applyTva">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="applyTva">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="applyTvaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="returnTvaCountry">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="returnTvaCountry">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="returnTvaCountryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServiceTaxes_FraisImplService">
<wsdl:port binding="tns:ServiceTaxes_FraisImplServiceSoapBinding" name="ServiceTaxes_FraisImplPort">
<soap:address location="http://localhost:8484/Serviceweb/ServiceTaxes_FraisImpl"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>